You have just added this item to cart:

{{listProducts.name}}
{{listProducts.price}}
<br/>
 <a href="{{ path("displayBasket") }}">Show your basket <br/></a>
 <a href="{{ path("displayProduct") }}">Carry on the shopping</a></td>

