@font-face {
    font-family: 'px-icon';
    src: url("fonts/px-icon.eot?-ym9f8q");
    src: url("fonts/px-icon.eot?#iefix-ym9f8q") format("embedded-opentype"), url("fonts/px-icon.woff?-ym9f8q") format("woff"), url("fonts/px-icon.ttf?-ym9f8q") format("truetype"), url("fonts/px-icon.svg?-ym9f8q#px-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}


[class^="px-icon-"], [class*=" px-icon-"] {
    font-family: 'px-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.px-icon-infinity:before {
    content: "\e618";
}

.px-icon-target:before {
    content: "\e619";
}

.px-icon-paperplane:before {
    content: "\e61a";
}

.px-icon-camera:before {
    content: "\e61b";
}

.px-icon-double-chevron-right:before {
    content: "\e61c";
}

.px-icon-double-chevron-down:before {
    content: "\e61d";
}

.px-icon-movie:before {
    content: "\e61e";
}

.px-icon-share:before {
    content: "\e61f";
}

.px-icon-chevron-up:before {
    content: "\e620";
}

.px-icon-chevron-right:before {
    content: "\e621";
}

.px-icon-chevron-left:before {
    content: "\e622";
}

.px-icon-chevron-down:before {
    content: "\e623";
}

.px-icon-chevron-light-left:before {
    content: "\e624";
}

.px-icon-chevron-light-right:before {
    content: "\e625";
}

.px-icon-movie-2:before {
    content: "\e626";
}

.px-icon-heart:before {
    content: "\e627";
}

.px-icon-music:before {
    content: "\e628";
}

.px-icon-document:before {
    content: "\e629";
}

.px-icon-pie-chart:before {
    content: "\e62a";
}

.px-icon-server:before {
    content: "\e62b";
}

.px-icon-tumblr:before {
    content: "\e62c";
}

.px-icon-user-business:before {
    content: "\e62d";
}

.px-icon-youtube:before {
    content: "\e62e";
}

.px-icon-id-card2:before {
    content: "\e616";
}

.px-icon-crosshair:before {
    content: "\e617";
}

.px-icon-arrow:before {
    content: "\e601";
}

.px-icon-bar-chart:before {
    content: "\e602";
}

.px-icon-binoculars:before {
    content: "\e603";
}

.px-icon-book:before {
    content: "\e604";
}

.px-icon-checkbox:before {
    content: "\e605";
}

.px-icon-currency:before {
    content: "\e606";
}

.px-icon-cursor-touch:before {
    content: "\e607";
}

.px-icon-database:before {
    content: "\e608";
}

.px-icon-facebook:before {
    content: "\e609";
}

.px-icon-id-card:before {
    content: "\e60a";
}

.px-icon-laptop:before {
    content: "\e60b";
}

.px-icon-light-bulb:before {
    content: "\e60c";
}

.px-icon-link:before {
    content: "\e60d";
}

.px-icon-linkedin:before {
    content: "\e60e";
}

.px-icon-magnifier:before {
    content: "\e60f";
}

.px-icon-shopping-bag:before {
    content: "\e610";
}

.px-icon-shopping-cart:before {
    content: "\e611";
}

.px-icon-speech-bubble:before {
    content: "\e612";
}

.px-icon-time:before {
    content: "\e613";
}

.px-icon-twitter-circle:before {
    content: "\e614";
}

.px-icon-video-play:before {
    content: "\e615";
}

.px-icon-twitter:before {
    content: "\e600";
}