Vous venez d'ajouter ce produit au panier:

{{listeproduits.nom}}
{{listeproduits.prix}}

 <a href="{{ path("afficherPanier") }}">Panier <br/></a>
 <a href="{{ path("afficherProduit") }}">Continuer mes achats</a></td>

