.rating{
	color: darkgray;
	padding: 0;
	margin: 0;
}

ul.rating{
	display: inline-block;
}

.rating li{
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}

.rating li.filled{
	color: gold;
}